.Table {
  background: #f5f5f5;
  color: black;
  border-collapse: collapse;
  width: 99%;
  margin: 10px auto;
  border-bottom: 1px solid #cdcdcb;
  cursor: default;
}

.Table-row.hasChildren {
  cursor: pointer;
}

.Table-row.odd {
  background: #f4f4f2;
}

.Table-row.even {
  background: #eeeef2;
}

.Table-row:hover,
.Table-row.hasChildren:hover + tr,
.Table-row.hasChildren:hover + tr table {
  background: #efd;
  transition: 200ms;
}

.Table-row.deleteHover,
.Table-row.hasChildren.deleteHover + tr,
.Table-row.hasChildren.deleteHover + tr table {
  background: #fdd;
  color: #aaa;
  transition: 500ms;
}

.Table-row.deleteStarted,
.Table-row.hasChildren.deleteStarted + tr,
.Table-row.hasChildren.deleteStarted + tr table {
  background: #fcc;
  color: #aaa;
  opacity: 0.2;
  text-decoration: line-through;
  transition: 1000ms;
}

.Table th {
  background: #ddd;
}

.Table td,
.Table th {
  border: 1px solid #cdcdcb;
  border-bottom-width: 0;
  padding: 5px 0.6vw;
}

.Table td.Table-aboveHeader {
  font-weight: bold;
  border: none;
}

.Table td.Table-toggle {
  width: 0;
}

.Table-expand-icon {
  transition: 200ms;
}

.expanded > .Table-expand-icon {
  transform: rotate(90deg);
}

.Table-child {
  transition: padding 100ms, border 0ms;
}

.Table-child.collapsed {
  padding-top: 0;
  padding-bottom: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  transition: padding 100ms, border 0ms 200ms;
}

.Table-child > div {
  overflow: hidden;
  opacity: 1;
  max-height: 9999px;
  transition: opacity 200ms, max-height 400ms ease-in;
}

.Table-child.collapsed > div {
  opacity: 0;
  max-height: 0;
  transition: 200ms ease-out;
}

.Table-trash-icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: gray;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  padding: 10px;
}

.Table td:last-child {
  position: relative; /* for trash icon */
}

.Table-row:hover .Table-trash-icon {
  opacity: 1;
  pointer-events: all;
  transition: 200ms;
}

.Table-row.deleteHover .Table-trash-icon {
  color: #e55;
  transform: rotate(-9deg) scale(1.2);
}
